@import url(../css/nav.css);
@import url(../css/footer.css);

*{
  /* border: 1px solid blue; */
}

nav ul.top_nav > li:nth-child(5) > a{
  border-top: 4px solid #ff4400;
}

main article#article1 section h1, main article#article2 h1, main article#article3 h1, main article#article5 h1{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  color: black;
  margin: 80px auto 30px;
}

main article#article1 section#art1_sec1 h1::before, main article#article3 h1::before, main article#article5 h1::before{
  content: "";
  display: inline-block;
  width: 200px;
  height: 3px;
  background-color: black;
  vertical-align: middle;
  margin-right: 50px;
}

header{
    /* margin-top: 80px; */
    background-image: url("../img/USE/09-about_header_bcg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 40%;
    /* min-width: 1200px; */
    width: 100%;
    height: 430px;
    text-align: center;
    padding-top: 320px;
    background-color: black;
}

header span.header_btn{
  display: inline-block;
  padding-left: 1px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: white;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 2;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: all .5s;
}

header span.header_btn.-move{
  background-color: #ff4400;
  left: 60%;
  /* border-top: none; */
  /* border-bottom: none; */
}

header div{
  height: 65%;
  overflow-y: auto;
}

header div.-move{
  left: 0;
}

header div a{
  border: 2px solid white;
  display: inline-block;
  /* border-radius: 50px; */
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  letter-spacing: 2px;
  transition: background-color .3s, color .3s;
  vertical-align: bottom;
}

header div a:nth-child(2){
  border-color: transparent;
  border-bottom: 5px solid #ff4400;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5);
  padding: 15px 20px 15px;
}

header div a:hover{
  color: #ff4400;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .5);
}

main{
  width: 100%;
  /* min-width: 1200px; */
}

main div.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main h1#news_topic{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  color: black;
  vertical-align: middle;
  margin: 50px auto 30px;
} 

main h1#news_topic::before{
  content: "";
  display: inline-block;
  width: 250px;
  height: 3px;
  background-color: black;
  vertical-align: middle;
  margin-right: 80px;
}

main div.container div#left{
  width: 50%;
  margin-right: 3%;
  margin-left: 3%;
}

main div.container div#left section p.intro{
  width: 90%;
  margin: auto;
}

main div.container div#left section#sec2 input{
  font-size: 16px;
  letter-spacing: 2px;
  width: 90%;
  padding-left: 20px;
  height: 50px;
  margin: 20px auto;
  margin-left: 5%;
}

main div.container div#left section ul.tab{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main div.container div#left section ul.tab li#tri_left{
  border: 12px solid #ff4400;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

main div.container div#left section ul.tab li#tri_right{
  border: 12px solid #ff4400;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

main div.container div#left section ul.tab li.tab_topic a{
  font-size: 23px;
  color: rgb(190, 190, 190);
}

main div.container div#left section ul.tab li.tab_topic:nth-child(2) a{
  color: black;
}

main div.container div#left section ul.tab li.tab_topic a:hover{
  color: #ff4400;
}

main div.container div#left section ul.tab li.tab_topic:first-child > a{
  color: #ff4400;
}

main div.container div#left section div#timeline{
  width: 100%;
}

main div.container div#left section div#timeline span{
  border: 1px solid red;
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #ff4400;
  margin: 30px 0 10px;
  position: relative;
}

main div.container div#left section div#timeline  span::before{
  content: "";
  border: 16px solid #ff4400;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  bottom: 0;
  left: 15%;
}

main div.container div#left section div.tab_content ul.page_content li{
  width: 100%;
}

main div.container div#left section div.tab_content ul.page_content li div{
  width: 100%;
  padding-left: 5%;
}

main div.container div#left section div.tab_content ul li div a, main div.container div#left section div.tab_content ul li  div span, main div.container div#left section div.tab_content ul li div time, main div.container div#left section div.tab_content ul li a{
  font-size: 16px;
  color:black;
}

main div.container div#left section div.tab_content ul li div.info{
  margin-top: 40px;
  padding-bottom: 5px;
}

main div.container div#left section div.tab_content ul li div.info time{
  margin-right: 30px;
}

main div.container div#left section div.tab_content ul li div.title a{
  display: inline-block;
  border-bottom: 1px solid rgb(129, 129, 129) !important;
  padding-bottom: 50px;
  width: 90%;
  color: #ff4400;
  font-size: 23px;
  line-height: 30px;
  word-break: break-word;
  hyphens: auto;
  transition: all .3s;
  position: relative;
}

main div.container div#left section div.tab_content ul li div.title a::after{
  content: "( Click to go to page )";
  display: inline-block;
  font-size: 13.5px;
  color: rgb(190, 190, 190);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .3s;
}

main div.container div#left section div.tab_content ul li div.title:hover a:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

main div.container div#left section div.tab_content ul li div.title:hover a::after{
  opacity: 1;
}

main div.container div#left section div.tab_content ul.page{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px auto 50px;
}

main div.container div#left section div.tab_content ul.page li{
  margin: auto 5px;
}

main div.container div#left section div.tab_content ul.page li a{
  background-color: #ff4400;
  color: white;
  display: inline-block;
  padding: 15px 30px;
}

main div.container div#left section div.tab_content ul.page li:first-child a{
  background-color: rgb(100, 100, 100);
  color: white;
}


main div.container div#left section div.tab_content ul.page li:last-child a{
  background-color: rgb(100, 100, 100);
  color: white;
}

main div.container div#left section div.dis_none{
  display: none;
}

main div#right{
  /* margin-left: 20px; */
  width:22%;
}

main div#right div.img{
  width: 100%;
  height: 500px;
  background-image: url("../img/USE/37-news_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -300px;
}

main div#other{
  width: 22%;
  align-self: center;
}

main div#other div.img{
  width: 100%;
  height: 800px;
  background-image: url("../img/USE/37-news_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -100px;
}

footer{
  padding-top: 100px;
  padding-bottom: 80px;
}

/* 320 - 575 */
@media screen and (max-width: 575px){
    header{
        min-width: 320px;
        background-position-y: 0px;
        height: 20%;
        padding-top: 20%;
        background-position-y: 50%;
    }

    header div{
        margin: auto;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 30%;
        left: -100%;
        z-index: 2;
        width: 60%;
        transition: all .5s;
    }

    header span.header_btn{
        display: inline-block;
    }

    header div a{
        margin: 10px;
        width: 90%;
        padding: 6% 20px;
        font-size: 13.5px;
    }

    main div.container{
      flex-direction: column;
    }

    main div#other{
      width: 100%;
    }

    main div#other div.img{
      height: 180px;
      background-position-x: 0;
    }

    main div#right{
      width: 100%;
    }

    main div#right div.img {
      background-position-x: -100px;
    }

    main h1#news_topic{
      margin: 20px 0 10px;
    }

    main h1#news_topic::before {
      width: 15%;
      margin-right: 30px;
    }

    main div.container div#left {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    main div.container div#left section p.intro {
      /* text-align: center; */
      width: 100%;
      padding: 0 15px;
    }

    main div.container div#left section#sec2 {
      padding: 0 15px;
    }

    main div.container div#left section#sec2 input{
      width: 100%;
      height: 30px;
      margin-left: 0;
      font-size: 13.5px;
    }

    main div.container div#left section div#timeline span {
      margin: 15px 0;
    }

    main div.container div#left section div#timeline span::before {
      border-width: 10px;
    }

    main div.container div#left section ul.tab li#tri_right, main div.container div#left section ul.tab li#tri_left {
      border-width: 10px;
    }

    main div.container div#left section ul.tab li.tab_topic a, main div.container div#left section div.tab_content ul li div.title a {
      font-size: 16px;
    }

    main div.container div#left section div.tab_content ul li div.info{
      margin-top: 10px;
    }

    main div.container div#left section div.tab_content ul.page li a {
      font-size: 13.5px;
      padding: 5px 10px;
    }

    main div.container div#left section div.tab_content ul.page_content li{
      padding: 0 15px;
    }

    main div.container div#left section div.tab_content ul.page_content li div {
      padding-left: 0;
    }

    main div.container div#left section div.tab_content ul li div.title a {
      width: 100%;
    }
}

/* 576 - 767 */
@media screen and (min-width: 576px) and (max-width: 767px){
    header{
        background-position-y: 0px;
        height: 30%;
        padding-top: 30%;
        background-position-y: 50%;
    }

    header div{
        margin: auto;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 30%;
        left: -100%;
        z-index: 2;
        width: 50%;
        transition: all .5s;
    }

    header span.header_btn{
        display: inline-block;
    }

    header div a{
        margin: 10px;
        width: 90%;
        padding: 6% 20px;
    }

    main h1#news_topic::before {
      width: 15%;
      margin-right: 30px;
    }

    main div.container div#left {
      width: 50%;
    }

    main div.container div#left section p.intro {
      /* text-align: center; */
      width: 100%;
    }

    main div.container div#left section#sec2 input{
      width: 100%;
      height: 30px;
      margin-left: 0;
      font-size: 13.5px;
    }

    main div.container div#left section div#timeline span {
      margin: 15px 0;
    }

    main div.container div#left section div#timeline span::before {
      border-width: 10px;
    }

    main div.container div#left section ul.tab li#tri_right, main div.container div#left section ul.tab li#tri_left {
      border-width: 10px;
    }

    main div.container div#left section ul.tab li.tab_topic a, main div.container div#left section div.tab_content ul li div.title a {
      font-size: 16px;
    }

    main div.container div#left section div.tab_content ul li div.info{
      margin-top: 10px;
    }

    main div.container div#left section div.tab_content ul.page li a {
      font-size: 14px;
    }

    main div.container div#left section div.tab_content ul.page_content li div {
      padding-left: 0;
    }

    main div.container div#left section div.tab_content ul li div.title a {
      width: 100%;
    }

}

/* 768 - 991 */
@media screen and (min-width: 768px) and (max-width: 991px){
    header{
        background-position-y: 0px;
        height: 20%;
        padding-top: 18%;
    }

    header div{
        width: 100%;
        margin: auto;
    }

    header span.header_btn{
        display: none;
    }

    header div a{
        margin: 10px;
    }

    main h1#news_topic::before {
      width: 15%;
    }

    main div.container div#left {
      width: 50%;
    }

    main div.container div#left section p.intro {
      /* text-align: center; */
      width: 100%;
    }

    main div.container div#left section#sec2 input{
      height: 40px;
    }
}

/* 992 - 1199 */
@media screen and (min-width: 992px) and (max-width: 1199px){
    header{
        height: 30%;
        padding-top: 26%;
    }

    header div{
        width: 100%;
        margin: auto;
        overflow-y: hidden;
    }

    header span.header_btn{
        display: none;
    }

    header div a{
        margin: 10px;
    }

    main h1#news_topic::before {
      width: 18%;
    }
}

/* 1200 - */
@media screen and (min-width: 1200px){
    header span.header_btn{
        display: none;
    }

    header div {
        overflow-y: hidden;
    }
}